.navbar-mobile-drawer {
    max-width: 80%;
    background-color: var(--secondary) !important;
}

.navbar-mobile-drawer .drawer-header {
    padding: 16px 24px 0 24px !important;    
}

.navbar-mobile-drawer .drawer-content {
    background-color: var(--secondary) !important;
}

.navbar-mobile-drawer .drawer-body {
    padding: 0 24px !important;
    height: auto !important;
}

.navbar-mobile-drawer .drawer-close {
    color: var(--primary) !important;
}

.mobile-menu-list-items-wrapper {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 4px;
    padding-left: 0;
}

.mobile-menu-list-items-item-button {
    background-color: transparent;
    height: 50px;
    border: none;
    padding: 0 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--whiteMinus3);
    font-size: 14px;
    cursor: pointer;
    line-height: 24px;
    border-radius: 50px;
    width: 100%;
}

.mobile-navbar-login-button {
    background-color: transparent;
    border: none;
    color: var(--white);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 600;
}


.mobile-menu-list-items-item-button:hover,
.mobile-menu-list-items-item-button.selected {
    background-color: #16A07F;
    color: var(--white);
}

.mobile-navbar-social-networks-container {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
    padding: 0 24px;
}

.mobile-navbar-social-networks-item{
    cursor: pointer;
}

.mobile-menu-list-items-item-sublist {
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

.mobile-menu-list-items-item-sublist-list {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    padding-bottom: 8px;
    gap: 8px;
}

.mobile-menu-list-items-item-button-icon {
    transition: all 0.2s ease-in-out;
    transform: rotate(0deg);
}

.mobile-menu-list-items-item-button-icon.selected {
    transform: rotate(180deg);
}

.mobile-drawer-separator{
    width: 100%;
    height: 1px;
    background-color: var(--secondaryPlus10);
}