.public-navbar-wrapper {
    display: none;
  }

.navbar-mobile {
    position: absolute;
    padding: 8px 24px;
    width: 100vw;
    justify-self: center;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    display: none;
    background-color: #252525;
}

.navbar-mobile .navbar-mobile-logo-container {
    display: flex;    
    align-items: center;
}

.navbar-mobile-logo-container .ellipse-bg{
    position: absolute;
    top: -5px ;
    left: -15px;
}

.navbar-mobile-menu-button-container{
    display: flex;
    align-items: center;
    gap: 16px;
}

.navbar-mobile .mobile-logo img {
    max-width: 130px;
    height: 100%;
    margin-left: -8px;
}


@media screen and (max-width: 1024px) {
    .navbar-mobile{
        display: flex !important;
    }
}
