.favoritesPageMoviesResultsList {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
    width: 100%;
}

.favoritesPageMoviesResultsItem {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 8px;
}

.favoritesPageMoviesResultsItemFavorite {
    position: absolute;
    top: 8px;
    right: 16px;
}

.favoritesPageMoviesResultsItemPoster {
    min-width: 200px;
    min-height: 300px;
    max-height: 300px;
    object-fit: contain;
    position: relative;
}

@media screen and (max-width: 1024px) {
    .favoritesPageMoviesResultsList {
        margin-top: 24px;
        grid-template-columns: 1fr;
        overflow-y: auto;
        height: auto;
    }

    .favoritesPageMoviesResultsItemPoster {
        min-width: 100%;
        min-height: 300px;
        max-height: 300px;
        object-fit: contain;
        position: relative;
    }

}