.dropdown-menu-list-wrapper {
    position: absolute;
    top: 60px;
    width: 300px;
    border-radius: 16px;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s, max-height 0.3s;
    background-color: var(--white);
    border: 1px solid white;
}

.dropdown-menu-list-wrapper.active {
    max-height: 500px !important;
    opacity: 1 !important;
}

.dropdown-menu-list-container {
    padding: 24px 32px;
}

.dropdown-trigger-container {
    display: flex;
    align-items: center;
    padding: 8px;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .dropdown-menu-list-wrapper {
        width: 225px;
    }
}