.seachPageContainer {
    min-height: 700px;
    justify-content: flex-start;
}

.searchFiltersSelect{
    width: 100%;
}

.searchFiltersSelect>span,
.searchFiltersSelectItems span {
    font-weight: 400;
    font-size: 14px;
}

.searchPageMovies {
    display: flex;
    width: 100%;
    gap: 32px;
}

.searchPageMoviesFilters {
    width: 25%;
}

.searchPageMoviesResults {
    width: 75%;
}

@media screen and (max-width: 1024px) {
    .searchPageMoviesResults {
        grid-column: auto;
    }

    .searchPageMovies {
        flex-direction: column;

    }

    .searchPageMovies {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .searchPageMoviesFilters {
        grid-column: auto;
        width: 100%;
    }

    .searchPageMoviesResults {
        grid-column: auto;
        width: 100%;
    }
}