.seachPageContainer {
    min-height: 700px;
    justify-content: flex-start;
}

.searchPageMovies {
    display: flex;
    width: 100%;
    gap: 32px;
}

.searchPageMoviesFilters {
    width: 25%;
}

.searchPageMoviesResults {
    width: 75%;
}

.searchPageMoviesResultsList {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    height: 700px;
}

.searchPageMoviesResultsItem {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
}

.searchPageMoviesResultsItemPoster {
    min-width: 200px;
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    object-fit: contain;
    position: relative;
}

.searchPageMoviesSkeleton {
    height: 300px;
    width: 200px;
    max-width: 400px;
    border-radius: 14px;
}

.searchPageMoviesNoResults {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    grid-column: 1/5;
}

@media screen and (max-width: 1280px) {
    .searchPageMoviesResultsList {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .searchPageMoviesNoResults {
        grid-column: 1/4;
    }

}


@media screen and (max-width: 1024px) {
    .searchPageMoviesResults {
        grid-column: auto;
    }

    .searchPageMovies {
        flex-direction: column;

    }

    .searchPageMovies {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .searchPageMoviesFilters {
        grid-column: auto;
        width: 100%;
    }

    .searchPageMoviesResults {
        grid-column: auto;
        width: 100%;
    }

    .searchPageMoviesNoResults {
        grid-column: auto;
    }

    .searchPageMoviesResultsList {
        margin-top: 24px;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .searchPageMoviesResultsItemPoster {
        min-width: 100%;
        min-height: 300px;
        max-height: 300px;
        object-fit: contain;
        position: relative;
    }

    .searchPageMoviesSkeleton {
        width: 100%;
        height: 350px;
    }

}