.moviesResultGridMoviesResultsList {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 24px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    height: 700px;
}

.moviesResultGridMoviesResultsItem {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
}

.moviesResultGridMoviesResultsItemPoster {
    min-width: 200px;
    width: 100%;
    min-height: 300px;
    max-height: 300px;
    object-fit: contain;
    position: relative;
}

.moviesResultGridMoviesSkeleton {
    height: 300px;
    width: 200px;
    max-width: 400px;
    border-radius: 14px;
}

.moviesResultGridMoviesNoResults {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    grid-column: 1/5;
}

.moviesResultGridMoviesSkeleton {
    height: 300px;
    width: 200px;
    max-width: 400px;
    border-radius: 14px;
}

.moviesResultGridMoviesNoResults {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    grid-column: 1/5;
}

.moviesResultGridMoviesResultsItemFavorite {
    position: absolute;
    top: 8px;
    right: 16px;
}


@media screen and (max-width: 1280px) {
    .moviesResultGridMoviesResultsList {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .moviesResultGridMoviesNoResults {
        grid-column: 1/4;
    }

}


@media screen and (max-width: 1024px) {
    .moviesResultGridMoviesResults {
        grid-column: auto;
    }

    .moviesResultGridMovies {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .moviesResultGridMoviesFilters {
        grid-column: auto;
        max-width: 100%;
    }

    .moviesResultGridMoviesResults {
        grid-column: auto;
    }

    .moviesResultGridMoviesNoResults {
        grid-column: auto;
    }

    .moviesResultGridMoviesResultsList {
        margin-top: 24px;
        grid-template-columns: 1fr;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .moviesResultGridMoviesResultsItemPoster {
        min-width: 100%;
        min-height: 300px;
        max-height: 300px;
        object-fit: contain;
        position: relative;
    }

    .moviesResultGridMoviesSkeleton {
        width: 100%;
        height: 350px;
    }

}