.custom-basic-carousel-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 2038px;
    max-height: 100%;
    position: relative;
}

.custom-basic-carousel-arrow-left{
    position: absolute;
    left: 48px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.custom-basic-carousel-arrow-right{
    position: absolute;
    right: 48px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    cursor: pointer;
}

.custom-basic-carousel .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 100vw;
    height: 804px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-basic-carousel .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.custom-basic-carousel .swiper {
    margin-left: auto;
    margin-right: auto;
}