.movieDetalContainer {
    display: flex;
    flex-direction: row !important;
    gap: 32px;
}

.movieDetailInfo {
    width: calc(100% - 400px);
    display: flex;
    flex-direction: column;
    height: 100%;
    align-self: flex-start;
}

.movieDetailInfo dt {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;    
}

.movieDetailInfo dd {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
}

.movieDetailTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
    .movieDetalContainer {
        width: 100%;
        flex-direction: column !important;
        gap: 24px;
    }

    .movieDetailInfo {
        width: 100%;
        align-self: center;
    }
}