.dropdown-menu-list-wrapper.custom-dropdown-navlink-dropdown {
  position: absolute;
  border-radius: 8px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  top: 45px;
  left: 15px;
  width: 251px !important;
  z-index: 100;
}

.dropdown-menu-list-container.custom-dropdown-navlink {
  display: flex;
  cursor: pointer;
  position: relative;
  flex-direction: column;
  gap: 0px;
  justify-content: flex-start;
  padding: 0px 0;
}

.custom-dropdown-navlink-trigger {
  display: flex;
  align-items: center;
  gap: 8px;
}

.public-container .custom-dropdown-navlink-trigger .custom-dropdown-navlink-trigger-text {
  font-size: 15px;
  font-weight: 500;
  color: var(--white);

}

.custom-dropdown-navlink-trigger.active .custom-dropdown-navlink-icon {
  transform: rotate(180deg);
  transition: transform 0.15s ease-in-out;
}

.custom-dropdown-navlink-trigger .custom-dropdown-navlink-icon {
  transform: rotate(0deg);
  transition: transform 0.15s ease-in-out;
}

.custom-dropdown-navlink-item {
  padding: 12px 24px 12px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  border-bottom: 1px solid var(--whiteMinus2);
}

.custom-dropdown-navlink-item:last-child {
  border-bottom: none;
}

.custom-dropdown-navlink-item:hover {
  background-color: #ebebebc9;
}

.public-container .custom-dropdown-navlink .custom-dropdown-navlink-item span {
  color: var(--secondaryMinus2);
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  display: block;
  font-family: var(--font-roboto);
}

@media screen and (max-width: 1152px) {
  .custom-dropdown-navlink-trigger .custom-dropdown-navlink-trigger-text {
    font-size: 13px;
  }
}