.custom-carousel-3d-swiper-container {
    width: 100%;
    max-height: 600px;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.custom-carousel-3d-swiper-container .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease, opacity 0.5s ease-in-out;
    opacity: 0;
}

.custom-carousel-3d-swiper-container .swiper-slide.swiper-slide-visible {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.25;
}

.custom-carousel-3d-swiper-container .swiper-slide.swiper-slide-visible.swiper-slide-fully-visible.swiper-slide-active {
    opacity: 1;
}

.custom-carousel-3d-swiper-container .swiper-button-prev,
.custom-carousel-3d-swiper-container .swiper-button-next {
    color: var(--white);
}

.custom-carousel-3d-item {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 33%;
}

.custom-carousel-3d-item span,
.custom-carousel-3d-item .custom-carousel-3d-info .ant-typography {
    z-index: 5;
    color: #fff;
}

.custom-carousel-3d-item .custom-carousel-3d-occupation {
    color: var(--greenMinus1);
}

.custom-carousel-3d-item div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.custom-carousel-3d-item .ant-image {
    width: 100%;
}

.custom-carousel-3d-small-quote-container {
    position: absolute;
    min-width: 163px;
    max-height: 256px;
    top: 72px;
    left: 32px;
}

.custom-carousel-3d-item .custom-carousel-3d-large-quote {
    min-width: 305px;
    z-index: 1;
}

.custom-carousel-3d-item .custom-carousel-3d-small-quote {
    position: absolute;
    z-index: 2;
    transform: scaleY(1.3);
}

.custom-carousel-3d-item .custom-carousel-3d-small-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 16px;
    justify-content: flex-start;
    text-align: center;
    height: 100%;
}

.custom-carousel-3d-item .custom-carousel-3d-small-info .custom-carousel-3d-occupation {
    font-size: 14px;
}

.custom-carousel-3d-item .custom-carousel-3d-info {
    position: absolute;
    width: 90%;
    z-index: 3;
    display: flex;
    flex-direction: column;
    top: 10%;
    left: 5%;
    padding-left: 24px;

}

@media screen and (max-width: 1280px) {
    .custom-carousel-3d-small-quote-container {
        top: 84px;
        left: 24px;
        min-width: 125px;
        max-width: 155px;
        font-size: 16px;
    }

    .custom-carousel-3d-item .custom-carousel-3d-small-quote {
        transform: scaleY(1.2);
    }

    .custom-carousel-3d-item .custom-carousel-3d-small-info {
        padding: 24px 8px;
    }

    .custom-carousel-3d-item .custom-carousel-3d-small-info .custom-carousel-3d-owner {
        font-size: 13px;
    }

    .custom-carousel-3d-item .custom-carousel-3d-small-info .custom-carousel-3d-occupation {
        font-size: 12px;
    }

    .custom-carousel-3d-item .custom-carousel-3d-large-quote {
        min-width: 225px;
        max-width: 275px;
    }

    .custom-carousel-3d-item .custom-carousel-3d-info * {
        padding-top: 32px;
        font-size: 13px;
    }
}

@media screen and (max-width: 1024px) {


    .custom-carousel-3d-swiper-container .swiper-slide {
        transition: transform 0.5s ease, opacity 0.5s ease-in-out;
    }

    .custom-carousel-3d-swiper-container {
        mask-image: none;
        max-width: 100%;
    }

    .custom-carousel-3d-item .custom-carousel-3d-small-quote {
        position: absolute;
        z-index: 2;
        top: 32px;
        width: 100%;
        height: 100%;
    }

    .custom-carousel-3d-item .custom-carousel-3d-small-quote-container {
        min-width: 125px;
        max-height: none;
        top: -64px;
        padding-top: 76px;
        align-items: center;
        margin-top: 0px;
        left: 24px;
    }

    .custom-carousel-3d-item .custom-carousel-3d-small-info {
        height: 50%;
        padding-top: 0;
    }

    .custom-carousel-3d-item .custom-carousel-3d-info {
        padding-top: 0px;
    }

    .custom-carousel-3d-item .custom-carousel-3d-large-quote {
        margin-top: -64px;
        min-width: 175px;
        padding-top: 100px;
        height: 525px;
        max-width: 255px;
        z-index: 1;
    }

    .custom-carousel-3d-item .custom-carousel-3d-small-quote path {
        transform-origin: top;
        transform: scaleY(1.15);
    }

    .custom-carousel-3d-item .custom-carousel-3d-small-info .custom-carousel-3d-occupation {
        margin-top: 4px;
    }


    .custom-carousel-3d-item .custom-carousel-3d-large-quote path {
        transform-origin: top;
        transform: scaleY(1);
    }


    .custom-carousel-3d-container .carousel-wrapper .icon-arrow {
        z-index: 100;
    }

    .custom-carousel-3d-swiper-container .swiper-button-prev::after,
    .custom-carousel-3d-swiper-container .swiper-button-next::after {
        font-size: 28px;
    }
}