.custom-basic-accordion-item{
    padding-top: 4px;
    border-bottom: 1px solid var(--white);
    min-height: 40px;
}

.custom-basic-accordion-item summary{
    display: flex;
    flex-direction: row;
    gap: 8px;
    cursor: pointer;    
    justify-content: space-between;
}

.custom-basic-accordion-item summary svg{
    min-width: 24px;
    min-height: 24px;
}

.custom-basic-accordion-item:last-child{
    border-bottom: none;
}
.custom-basic-accordion-item-content{
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}